<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rekap Penilaian 5P</title>
  <link rel="icon" href="/images/sp.png">
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-100 antialiased">
<div class="flex h-screen overflow-hidden">
  <!-- SIDEBAR -->
  <%- include('../partials/sidebarAdmin') %>

  <!-- CONTENT -->
  <div class="flex-1 flex flex-col overflow-hidden">
    <%- include('../partials/header') %>

    <main class="flex-1 overflow-auto bg-gray-50">
        <div class="p-8 pb-24">
          <h1 class="text-3xl font-bold text-gray-800 mb-6">Rekap Penilaian</h1>

      <!-- FILTER & BUTTON -->
      <div class="bg-white p-4 rounded shadow mb-6 flex justify-between items-center">
        <div class="flex gap-3">
          <button class="bg-red-600 text-white px-4 py-2 rounded">
            Rekap Kantor
          </button>
          <a href="/dashboardAdmin/rekapPenilaianAdmin"
            class="bg-red-600 text-white px-5 py-2 rounded shadow">
            Rekap Penilaian
          </a>
          <button class="bg-gray-200 px-4 py-2 rounded">
            Rekap Kriteria
          </button>
        </div>

        <button class="bg-red-600 text-white px-4 py-2 rounded">
          Download Rekap
        </button>
      </div>

      <div class="mb-4">
        <label class="font-small">Filter Kantor :</label>
        <input type="text" list="kantor-list" placeholder="Cari atau pilih kantor..." class="border rounded px-3 py-2 ml-2 w-64">
        <datalist id="kantor-list">
          <option value="KANTOR SALES AREA SUMBAR LT.2 KANTOR PUSAT">
          <option value="KANTOR PROCUREMENT LT.2 KANTOR PUSAT">
          <option value="KANTOR UNIT SATUAN PENGAMANAN">
          <option value="KANTOR BINS GEDUNG REKAYASA LT.2">
          <option value="KANTOR AKUNTANSI LT.1 KANTOR PUSAT">
          <option value="KANTOR USM">
          <option value="KANTOR ARSIP">
          <option value="KANTOR HUKUM">
          <option value="KANTOR GRC">
          <option value="KANTOR CSR">
          <option value="KANTOR ICT LT.5 KANTOR PUSAT">
          <option value="KANTOR PORTOFOLIO LT.5 KANTOR PUSAT">
          <option value="KANTOR SDM LT.4 KANTOR PUSAT">
          <option value="KANTOR SARANA UMUM">
          <option value="KANTOR GUDANG SP">
          <option value="KANTOR WORKSHOP">
          <option value="KANTOR RETAIL SALES SUPPORT/RSS 1 LT.2 KANTOR PUSAT">
          <option value="KANTOR OUTBOND INVENTORY KANTOR PUSAT">
          <option value="KANTOR WISMA INDARUNG">
          <option value="KANTOR HUMAS LT.3 KANTOR PUSAT">
          <option value="GEDUNG SERBA GUNA">
          <option value="KANTOR DIKLAT SP">
          <option value="KANTOR AKUNTANSI LT.4 KANTOR PUSAT">
          <option value="KANTOR INTERNAL AUDIT LT.5 KANTOR PUSAT">
          <option value="KANTOR OPERASIONAL TRANSPORTATION LT.1 KANTOR PUSAT">
        </datalist>
      </div>

      <!-- TABLE -->
        <div class="bg-white rounded shadow overflow-x-auto">
            <div class="bg-red-700 text-white font-bold p-3">
            KANTOR SALES AREA SUMBAR LT.2 KANTOR PUSAT
            </div>

            <table class="w-full border text-center">
            <thead class="bg-gray-100">
                <tr>
                <th class="border p-2">Kriteria</th>
                <th class="border p-2"></th>
                <th class="border p-2">Arie Ronaldo</th>
                <th class="border p-2">Fery Fuadi</th>
                <th class="border p-2">Dina Armiya</th>
                <th class="border p-2 bg-cyan-200">Rata-rata</th>
                <th class="border p-2 bg-green-200">Bobot</th>
                </tr>
            </thead>

            <tbody>
                <tr class="font-semibold">
                <td colspan="7" class="border p-2 text-left">
                    Penilaian P1
                </td>
                </tr>

                <tr>
                <td class="border p-2">Kriteria 1</td>
                <td class="border p-2">Nilai</td>
                <td class="border p-2">30</td>
                <td class="border p-2">70</td>
                <td class="border p-2">80</td>
                <td class="border p-2 bg-cyan-200">60</td>
                <td class="border p-2 bg-green-200">5.6</td>
                </tr>

                <tr>
                <td class="border p-2">Kriteria 2</td>
                <td class="border p-2">Nilai</td>
                <td class="border p-2">30</td>
                <td class="border p-2">70</td>
                <td class="border p-2">80</td>
                <td class="border p-2 bg-cyan-200">60</td>
                <td class="border p-2 bg-green-200">5.6</td>
                </tr>

                <tr>
                <td class="border p-2">Kriteria 2</td>
                <td class="border p-2">Nilai</td>
                <td class="border p-2">30</td>
                <td class="border p-2">70</td>
                <td class="border p-2">80</td>
                <td class="border p-2 bg-cyan-200">60</td>
                <td class="border p-2 bg-green-200">5.6</td>
                </tr>

                <tr>
                <td colspan="5" class="border p-2 text-right font-semibold">
                    Rata-rata
                </td>
                <td class="border p-2">60</td>
                <td class="border p-2"></td>
                </tr>
            </tbody>

            <tbody>
                <tr class="font-semibold">
                <td colspan="7" class="border p-2 text-left">
                    Penilaian P2
                </td>
                </tr>

                <tr>
                <td class="border p-2">Kriteria 1</td>
                <td class="border p-2">Nilai</td>
                <td class="border p-2">30</td>
                <td class="border p-2">70</td>
                <td class="border p-2">80</td>
                <td class="border p-2 bg-cyan-200">60</td>
                <td class="border p-2 bg-green-200">5.6</td>
                </tr>

                <tr>
                <td class="border p-2">Kriteria 2</td>
                <td class="border p-2">Nilai</td>
                <td class="border p-2">30</td>
                <td class="border p-2">70</td>
                <td class="border p-2">80</td>
                <td class="border p-2 bg-cyan-200">60</td>
                <td class="border p-2 bg-green-200">5.6</td>
                </tr>

                <tr>
                <td class="border p-2">Kriteria 2</td>
                <td class="border p-2">Nilai</td>
                <td class="border p-2">30</td>
                <td class="border p-2">70</td>
                <td class="border p-2">80</td>
                <td class="border p-2 bg-cyan-200">60</td>
                <td class="border p-2 bg-green-200">5.6</td>
                </tr>

                <tr>
                <td colspan="5" class="border p-2 text-right font-semibold">
                    Rata-rata
                </td>
                <td class="border p-2">60</td>
                <td class="border p-2"></td>
                </tr>
            </tbody>

            </table>
        </div>
        </div>
        <div class="mt-auto">
          <%- include('../partials/footer') %>
        </div>
    </main>
  </div>
</div>
</body>
</html>